<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pequeños Pasos, Gran Impacto</title>
        <link rel="stylesheet" href="static\style.css">
    </head>
    <body>
        <nav>
            <div class="logo">
                <img src="static\images\Pequeños Pasos.jpg" alt="logo">
            </div>

            <ul class="menu">
                <li>
                    <a href="#Que_es">
                        <img src="static\images\Que_es.jpg" alt="#Que_es">
                    </a>
                </li>
                <li>
                    <a href="#Historia">
                        <img src="static\images\Historia.jpg" alt="#Historia">
                    </a>
                </li>
                <li>
                    <a href="#Impacto">
                        <img src="static\images\impacto.jpg" alt="Impacto">
                    </a>
                </li>
                <li>
                    <a href="#Ayuda">
                        <img src="static\images\Ayuda.jpg" alt="Ayuda">
                    </a>
                </li>
            </ul>
        </nav>

        <header class="header">
        <div class="header_text">
            <h1>LA PARTICIPACIÓN DEL SER HUMANO EN EL DAÑO AL PLANETA</h1>
            <p>¿Qué es el cambio climatico?¿Porque ocurre?¿Cómo impacta?¿Qué podemos hacer para frenarlo?</p>
        </div>
        </header>

        <section id="Que_es">
            <div class="que_es">
                <h2>¿QUÉ ES EL CAMBIO <br> CLIMATICO?</h2>
                <p>El cambio climático es como una fiebre que afecta a la Tierra. Se produce por el aumento de la 
                    temperatura global causado por la contaminación y el uso excesivo de combustibles fósiles. 
                    Esto altera el equilibrio natural del clima y provoca sequías, lluvias intensas y cambios 
                    que impactan la vida en el planeta.</p>
            </div>
            <div class="porque_ocurre">
                <h2>¿PORQUE OCURRE <br> EL DAÑO?</h2>
                <p>El daño sucede porque nuestras acciones liberan gases que atrapan el calor del sol, como una 
                    cobija demasiado gruesa. Al quemar combustibles, talar árboles y contaminar, hacemos que el 
                    planeta se caliente más rápido. Así, el clima cambia y la naturaleza sufre las consecuencias.</p>
            </div>
        </section>

        <section id="Historia">
            <div class="historia">
                <h2>Historia del cambio climatico</h2>
                <div class="video">
                    <iframe width="1500" height="700" src="https://www.youtube.com/embed/I0q6tzcLncI?si=7pCxC023JRnZtDWy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </section>

        <section id="Impacto">
            <div class="Impacto_causas">
                <div class="Causas_img">
                    <img src="static\images\causas.jpg" alt="">
                </div>
                <div class="Causas">
                    <h2>CAUSAS</h2>
                    <ul>
                    <li>
                        <img src="static\images\check.jpg" alt="">
                        Quema de combustibles fósiles que genera grandes cantidades de CO₂.
                    </li>
                    <li>
                        <img src="static\images\check.jpg" alt="">
                        Reduccion de los árboles que absorben dióxido de carbono y protegen los ecosistemas.
                    </li>
                    <li>
                        <img src="static\images\check.jpg" alt="">
                        Ganadería intensiva que produce un gas muy potente llamado metano.
                    </li>
                    </ul>
                </div>
            </div>

            <div class="Impacto_consecuencias">
                <div class="Consecuencias_img">
                    <img src="static\images\consecuencias.jpg" alt="">
                </div>
                <div class="Consecuencias">
                    <h2>CONSECUENCIAS</h2>
                    <ul>
                    <li>
                        <img src="static\images\check.jpg" alt="">
                        Aumento del nivel del mar por el deshielo de los polos amenazando zonas costeras.
                    </li>
                    <li>
                        <img src="static\images\check.jpg" alt="">
                        Fenómenos naturales extremos como huracanes o sequias mas frecuentes.
                    </li>
                    <li>
                        <img src="static\images\check.jpg" alt="">
                        Pérdida de biodiversidad porque muchas especies no logran adaptarse y desaparecen.
                    </li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="Ayuda">
            <div class="Ayuda-titulo">
                <h2>LO QUE PUEDES HACER PARA AYUDAR</h2>
                <div class="Ayuda">
                    <div class="grid-ayuda">
                        <h3>Usa vehiculos menos contaminantes</h3>
                        <p>Cada vez que eliges moverte sin usar un vehículo que queme gasolina, como el 
                            trasporte publico, bicicletas o incluso caminar. duces la cantidad de gases 
                            contaminantes en el aire</p>
                    </div>
                    <div class="grid-ayuda">
                        <h3>Ahorra Energia</h3>
                        <p>Pequeños gestos como apagar las luces al salir de una habitación, desconectar 
                            aparatos que no usas o usar focos que utilizan menos energia ayudan a disminuir 
                            el consumo eléctrico</p>
                    </div>
                    <div class="grid-ayuda">
                        <h3>Aplica las 3R</h3>
                        <p>Reducir, Reutilizar y Reciclar. Acciones como separar los desechos, usar botellas 
                            y bolsas reutilizables o preferir productos con menos envoltura ayuda a reducir 
                            la contaminación</p>
                    </div>
                    <div class="grid-ayuda">
                        <h3>Cuida y mantiene las areas verdes</h3>
                        <p>Los árboles son los pulmones del planeta, por esa razon cuidar parques, sembrar 
                            plantas o participar en campañas de reforestación es una forma sencilla pero 
                            poderosa de combatir el cambio climático.</p>
                    </div>
                </div>
            </div>
        </section>

        <div class="Midete">
            <h2>MIDE TU <br> CONSUMO</h2>
            <div class="cont-boton">
                <a href="/size" class="boton">Calcula la energia de tu hogar</a>
            </div>
        </div>
    </body>
    <footer class="footer">
        <h3>Danos tu opinion</h3>
        <form class="Opiniones">
            <input type="text" name="name" placeholder="Tu nombre" required>
            <textarea name="feedback" rows="3" placeholder="Escribe tu opinion..." required></textarea>
            <button type="submit">Enviar</button>
        </form>
        <p class="footer-nota">2025 Kodland | Grace Mantilla</p>
    </footer>
</html>